// THEME
$font-main: "Ropa Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 87.5em; //1400px
$bp-large: 62.5em; //1000px
$bp-medium: 43.75em; //700px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
